@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
	Layout = "_Layout";
}

<div class="container-lg mt-5">
	<h1>Welcome to Your Favourit Resturant</h1>
	<p>Your content goes here...</p>

</div>